services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "${API_PORT:-3001}:3001"
    env_file:
      - ./.env
    volumes:
      - ./api:/app
      - /app/node_modules
    command: npm run dev

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    ports:
      - "${WEB_PORT:-3000}:3000"
    env_file:
      - ./.env
    volumes:
      - ./web:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
      - ESLINT_NO_CACHE=true
      - DISABLE_ESLINT_PLUGIN=true
    command: npm start
    depends_on:
      - api
